body {
    background-color: #bcbccc;
    margin: 0px;
    padding: 0px;

    font-family: sans-serif;

    background-image: linear-gradient(to bottom, #333, #222);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
    color: white;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexcontainer {
    background-color: rgba(32, 32, 32, 0.6);
    box-shadow: 0px 0px 8px black;

    padding: 16px;
    margin: 8px;

    border-radius: 12px;

    min-width: 900px;
}

h1 {
    color: white;

    text-align: center;

    margin: 0px;
}

section.canvasdock {
    display: flex;
    justify-content: center;
    align-items: center;
}
